// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#results {
	width: 100%;
}

#document_file {
	font-family: "arial narrow";
}

#user_info {
	font-weight: bold;	
	font-family: "arial narrow";
}