// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_user {
	display: inline-block;
	text-align: center;
	width:100%;
	margin: 0 auto;
}

#users_list {
	width: 100%;
}